.AppNav {
  border: 0.25px solid red;
  margin: 2vh;
}

.NavContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1vw;
}
.logo {
  width: 7vw;
  height: 7vh;
  margin-left: 2vh;
  margin-top: 6vh;
}

.logo_text {
  align-items: left;
  margin-top: 10vh;
  font-weight: 100;
}
.entry {
  margin-top: 7vh;
  list-style: none;
  display: flex;
  align-content: space-around;
  align-items: center;
  margin-left: 2vh;
}

.ele {
  padding: 1vh;
  border: 0.25px black solid;
  min-width: 8vw;
  margin: 1vw;
}

.user-info {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
}

.user-info > h6 {
  margin-top: 2vh;
}

.user-info > svg {
  margin-top: 1vh;
  margin-left: 2vw;
}
